#login-error {
    position: absolute;
    top: 120%;
    right: 20%;
    z-index: 5000;
}

#signup-error {
    text-align: center;
}

.hidden {
    display: none;
}

.centered {
    float: none;
    margin: 0 auto;
}

.navbar-default {
    margin: 0;
}

.chat-display {
  min-height: 150px;
  max-height: 40vh;
  overflow: scroll;
  font-size: 1.2em;
}

.chat-display p {
  font-size: .9em;
  padding: 0 10px;
}

.chat-display p span {
    display: inline-block;
    padding-left: 10px;
}