<div class="navbar-header">
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand" href="#">Meet Ups!</a>
</div>
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav">
    <li class="active"><a href="#/feedback">Feedback</a></li>
    <li><a href="#/chat">Live Chat</a></li>
  </ul>
  <div id="profile-signout" class="navbar-form navbar-right">
    <a href="#/profile" id="profile-link">
      <span></span>
      {{username}}
    </a>
    <span></span>
    <a id="logout-button" class="btn btn-primary">Logout</a>
  </div>
</div>
<div id="logout-error" class="alert alert-danger" role="alert">
  Invalid <strong>credentials</strong>.
</div>