<nav id="navbar" class="navbar" style="width: 80%; float: none; margin-left: auto; margin-right: auto;">
  <div id="menu">
    <a href="#">Main</a> |
    <a href="#">Nav</a> |
    <a href="#">Goes</a> |
    <a href="#">Here</a>
  </div>
  <div id="profile" class="pull-right">
    <a id="logout-button" class="btn btn-danger">Log out</a>
  </div>
</nav>