<form class="form-signin">
    <h2 class="form-signin-heading">Please fill out the info below:</h2>
    <label for="signup-username" class="sr-only">Username</label>
    <input type="text" id="signup-username" class="form-control" placeholder="Username" required="" autofocus="">
    <label for="signup-password" class="sr-only">Password</label>
    <input type="password" id="signup-password" class="form-control" placeholder="Password" required="">
    <a id="signup-submit" class="btn btn-primary">Sign Up</a>
    <div id="signup-error" class="alert alert-danger" role="alert">
        <strong>Username</strong> or <strong>Password</strong> invalid.
    </div>
    <div id="signup-error-exists" class="alert alert-danger" role="alert">
        That <strong>username</strong> already <strong>exists.</strong> 
    </div>
</form>