<form class="form-signin">
    <h2 class="form-signin-heading">Please sign in</h2>
    <label for="signup-username" class="sr-only">Username</label>
    <input type="text" id="signup-username" class="form-control" placeholder="Username" required="" autofocus="">
    <label for="signup-password" class="sr-only">Password</label>
    <input type="password" id="signup-password" class="form-control" placeholder="Password" required="">
    <div class="checkbox">
        <label for="remember-me">
            <input id="remember-me" type="checkbox" value="remember-me"> Remember me
            </label>
    </div>
    <button id="signup-submit" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <div id="signup-error" class="alert alert-danger" role="alert">
        <strong>Username</strong> or <strong>Password</strong> invalid.
    </div>
</form>